.room-container {
  /* max-width: 100%;
  overflow-x: hidden; */
  /* doesn't fix problem */
}

.image {
  width: 100%;
}

.gallery {
  background-color: blue;
}

.gallery-container {
  width: 70%;
  margin: 4px, 4px;
  padding: 4px;
  height: 70%;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}

.gallery-images {
  width: 70%;
  height: 70%;
  padding: none;
  margin: none;
}

/* .canvas-container {
  width: 100%;
} */

/* .room-container {
  flex-direction: row;
} */

.konva-stage {
  text-align: center;
}

.painting-container {
  text-align: center !important;
  margin: 0 auto !important;
  display: block !important;
}

.form-select {
  width: 50%;
}

.register-form {
  display: block;
  /* text-align: center; */
}

.label {
  padding: 10px;
  text-align: justify !important;
}

.submit-button {
  text-align: center !important;
  margin: 0 auto;
}
