#root {
  background-image: url("./components/background.png");
  height: 100vh;
  font-family: gopher, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.jumbotron {
  background-image: url("./components/background.png");
  height: 100%;
}

.room-container {
  background-image: url("./components/background.png");
  height: 100%;
}

.image {
  width: 100%;
}

.gallery {
  background-color: blue;
}

.placeholder {
  height: 400px;
  width: 400px;
  background-color: violet;
}

.gallery-container {
  width: 100%;
  margin: 4px, 4px;
  padding: 4px;
  height: 70%;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}

#gallery-image {
  width: 70%;
  height: 70%;
}

#gallery-and-chat {
  margin: 1em auto;
  padding: 1em;
}

.konva-stage {
  text-align: center;
  width: 100%;
  height: 100%;
}

.painting-container {
  text-align: center !important;
  margin: 0 auto !important;
  display: block !important;
}

.form-select {
  width: 50%;
}
