#root {
  background-image: url("./components/background.png");
  height: 100vh;
  font-family: gopher, sans-serif;
  font-weight: 700;
  font-style: normal;
}

#jumbotron-navbar-container {
  margin: 0 auto;
}

.jumbotron {
  background-image: url("./components/background.png");
  height: 100%;
}

.jumbotron-heading {
  color: black;
  margin: 0 auto;
}

.jumbotron-heading:hover {
  color: purple;
}

.user-auth-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em;
}

.auth-nav-main-div {
  background-color: purple;
  width: 100%;
}

.auth-button-container {
  position: absolute;
  right: 0;
}

.nav-container {
  background-color: pink;
  display: flex;
}

.authed-links {
  display: flex;
  text-align: center;
  margin: 0.5em 1em;
  align-items: center;
  align-self: center;
  justify-content: space-evenly;
}

.account-link {
  text-decoration: none;
  color: white;
}
.room-container {
  background-image: url("./components/background.png");
  height: 100%;
}

.image {
  width: 100%;
}

.gallery {
  background-color: blue;
}

.placeholder {
  height: 400px;
  width: 400px;
  background-color: violet;
}

.gallery-container {
  width: 100%;
  margin: 4px, 4px;
  padding: 4px;
  height: 70%;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}

#gallery-image {
  width: 70%;
  height: 70%;
}

#gallery-and-chat {
  margin: 1em auto;
  padding: 1em;
}

.konva-stage {
  text-align: center;
  width: 100%;
  height: 100%;
}

.painting-container {
  text-align: center !important;
  margin: 0 auto !important;
  display: block !important;
}

.form-select {
  width: 50%;
}
